.navbar {
  font-size: calc(5vw + 5px);
}
.nav-links,
.logo {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}
.nav-links:visited {
  color: black;
}

.main-nav {
  list-style-type: none;
  text-align: center;
  margin: 15px auto;
  display: none;
}
.logo {
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 50px;
  font-size: calc(1rem + 2vw);
}

.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  font-size: 24px;
}

.active {
  display: block;
  text-align: center;
  line-height: 35px;
}

ul {
  padding-top: 10px;
}

/* desktop view */
@media screen and (min-width: 1024px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    height: 70px;
    align-items: center;
  }
  .main-nav,
  .active {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }

  .nav-links {
    margin: 40px;
    font-size: calc(1rem + 0.7vw);
  }
  .logo {
    margin-top: 0;
  }
  .navbar-toggle {
    display: none;
  }
}
