.navbar {
  font-size: calc(5vw + 5px);
}
.nav-links,
.logo {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}
.nav-links:visited {
  color: black;
}

.main-nav {
  list-style-type: none;
  text-align: center;
  margin: 15px auto;
  display: none;
}
.logo {
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 20px;
}

.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  font-size: 24px;
}

.active {
  display: block;
  text-align: center;
}

/* rainbow border */
ul {
  display: flex;
  padding-top: 10px;
}
li {
  display: list-item;
}
.colorful-border-blue {
  width: 20vw;
  height: 10px;
  background: #5893e0;
  list-style-type: none;
}
.colorful-border-aqua {
  width: 20vw;
  height: 10px;
  background: #43c2c2;
  list-style-type: none;
}
.colorful-border-green {
  width: 20vw;
  height: 10px;
  background: #58e55c;
  list-style-type: none;
}
.colorful-border-yellow {
  width: 20vw;
  height: 10px;
  background: #fcf04e;
  list-style-type: none;
}
.colorful-border-orange {
  width: 20vw;
  height: 10px;
  background: #f25a5f;
  list-style-type: none;
}

/* desktop view */
@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }
  .main-nav,
  .active {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }

  .nav-links {
    margin-left: 40px;
  }
  .logo {
    margin-top: 0;
  }
  .navbar-toggle {
    display: none;
  }
  .logo:hover,
  .nav-links:hover {
    color: rgba(255, 255, 255, 1);
  }
}
