* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Raleway", sans-serif;
}

/* rainbow border */
ul {
  display: flex;
}
li {
  display: list-item;
}
.colorful-border-blue {
  width: 20vw;
  height: 10px;
  background: #5893e0;
  list-style-type: none;
}
.colorful-border-aqua {
  width: 20vw;
  height: 10px;
  background: #43c2c2;
  list-style-type: none;
}
.colorful-border-green {
  width: 20vw;
  height: 10px;
  background: #58e55c;
  list-style-type: none;
}
.colorful-border-yellow {
  width: 20vw;
  height: 10px;
  background: #fcf04e;
  list-style-type: none;
}
.colorful-border-orange {
  width: 20vw;
  height: 10px;
  background: #f25a5f;
  list-style-type: none;
}
